@font-face {
    font-family: 'CustomPixelFont';
    src: url(../../Fonts/MAINBRG_.TTF);
    font-weight: normal;
    font-style: normal;
}

.typedtext {
    font-size: 22px;
    font-family: 'CustomPixelFont', sans-serif;
    color: #65B741
}